* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* =========================================== sramorakod.html =========================================== */
/* ===================================== Header ===================================== */
.location-1 {
    background: url(../img/location/card-1.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== thalewaek.html =========================================== */
.location-2 {
    background: url(../img/location/card-2.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== aonang.html =========================================== */
.location-3 {
    background: url(../img/location/card-3.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-4 {
    background: url(../img/location/card-4.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-5 {
    background: url(../img/location/card-5.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-6 {
    background: url(../img/location/card-6.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-7 {
    background: url(../img/location/card-7.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-8 {
    background: url(../img/location/card-8.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-9 {
    background: url(../img/location/card-9.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-10 {
    background: url(../img/location/card-10.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-11 {
    background: url(../img/location/card-11.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-12 {
    background: url(../img/location/card-12.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-13 {
    background: url(../img/location/card-13.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-14 {
    background: url(../img/location/card-14.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-15 {
    background: url(../img/location/card-15.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-16 {
    background: url(../img/location/card-16.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-17 {
    background: url(../img/location/card-17.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-18 {
    background: url(../img/location/card-18.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-19 {
    background: url(../img/location/card-19.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-20 {
    background: url(../img/location/card-20.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-21 {
    background: url(../img/location/card-21.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-22 {
    background: url(../img/location/card-22.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-23 {
    background: url(../img/location/card-23.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-24 {
    background: url(../img/location/card-24.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-25 {
    background: url(../img/location/card-25.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-526 {
    background: url(../img/location/card-26.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-27 {
    background: url(../img/location/card-27.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-28 {
    background: url(../img/location/card-28.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-29 {
    background: url(../img/location/card-29.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* =========================================== paprutaprom.html =========================================== */
.location-30 {
    background: url(../img/location/card-30.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}
/* ===================================== Section-content ===================================== */
.location-content {
    background: #e3e7e8;
    height: auto;
}
.location-container {
    min-width: 320px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 25px;
    
}
.container {
    width: 100%;
    margin: 50px auto;
    
}
.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 1em;
}
.content-left {
    width: 100%;
}
.content-right {
    width: 100%;
}
h1 {
    margin-bottom: .5em; 
}
.gallery {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1 , 80px);
    grid-gap: .5em;
}
.gallery img {
    width: 100%;
    height: 100%;
}
p {
    color: #333;
    margin-top: 15px ;
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
    text-align: justify;
}
h2 {
    margin-top: 20px;
}
.photo {
    text-align: center;
    margin-top: 50px;
}
.photo img {
    width: 100%;
    background-size: cover;
}
.photo-2 {
    text-align: center;
    margin-top: 50px;
}
.photo-2 img {
    width:400px;
    background-size: cover;
}
.txt {
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .location-1 {
        height: 800px;
    }
    .location-2 {
        height: 800px;
    }
    .location-3 {
        height: 800px;
    }
    .location-4 {
        height: 800px;
    }
    .location-5 {
        height: 800px;
    }
    .location-6 {
        height: 800px;
    }
    .location-7 {
        height: 800px;
    }
    .location-8 {
        height: 800px;
    }
    .location-9 {
        height: 800px;
    }
    .location-10 {
        height: 800px;
    }
    .location-11 {
        height: 800px;
    }
    .location-12 {
        height: 800px;
    }
    .location-13 {
        height: 800px;
    }
    .location-14 {
        height: 800px;
    }
    .location-15 {
        height: 800px;
    }
    .location-16 {
        height: 800px;
    }
    .location-17 {
        height: 800px;
    }
    .location-18 {
        height: 800px;
    }
    .location-19 {
        height: 800px;
    }
    .location-20 {
        height: 800px;
    }
    .location-21 {
        height: 800px;
    }
    .location-22 {
        height: 800px;
    }
    .location-23 {
        height: 800px;
    }
    .location-24 {
        height: 800px;
    }
    .location-25 {
        height: 800px;
    }
    .location-26 {
        height: 800px;
    }
    .location-27 {
        height: 800px;
    }
    .location-28 {
        height: 800px;
    }
    .location-29 {
        height: 800px;
    }
    .location-30 {
        height: 800px;
    }
    .location-container {
        min-width: 768px;
        height: auto;
        margin: 0 auto;
        background: #fff;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0 25px;  
    }
    .gallery {
        display: grid;
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1 , 150px);
        grid-gap: .5em;
    }
}

@media screen and (min-width: 960px) {
    .location-1 {
        height: 1024px;
    }
    .location-2 {
        height: 1024px;
    }
    .location-3 {
        height: 1024px;
    }
    .location-4 {
        height: 1024px;
    }
    .location-5 {
        height: 1024px;
    }
    .location-6 {
        height: 1024px;
    }
    .location-7 {
        height: 1024px;
    }
    .location-8 {
        height: 1024px;
    }
    .location-9 {
        height: 1024px;
    }
    .location-10 {
        height: 1024px;
    }
    .location-11 {
        height: 1024px;
    }
    .location-12 {
        height: 1024px;
    }
    .location-13 {
        height: 1024px;
    }
    .location-14 {
        height: 1024px;
    }
    .location-15 {
        height: 1024px;
    }
    .location-16 {
        height: 1024px;
    }
    .location-17 {
        height: 1024px;
    }
    .location-18 {
        height: 1024px;
    }
    .location-19 {
        height: 1024px;
    }
    .location-20 {
        height: 1024px;
    }
    .location-21 {
        height: 800px;
    }
    .location-22 {
        height: 1024px;
    }
    .location-23 {
        height: 1024px;
    }
    .location-24 {
        height: 1024px;
    }
    .location-25 {
        height: 1024px;
    }
    .location-26 {
        height: 1024px;
    }
    .location-27 {
        height: 1024px;
    }
    .location-28 {
        height: 1024px;
    }
    .location-29 {
        height: 1024px;
    }
    .location-30 {
        height: 1024px;
    }
    .location-container {
        width: 960px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0 25px;
    }
    .container {
        width: 100%;
        margin: 50px auto;
        
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-gap: 1em;
        margin: 1em;
    }
    .content-left {
        width: 100%;
    }
    .content-right {
        width: 100%;
    }
    h1 {
        margin-bottom: .5em; 
    }
    .gallery {
        display: grid;
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1 , 100px);
        grid-gap: .5em;
    }
    .gallery img {
        width: 100%;
        height: 100%;
    }

}   